name: artifact example
on: push
jobs:
    artifact:
        runs-on: ubuntu-latest
        steps:
            - name: create file
              run: echo "tets reports data" > test-report.txt
            - name: upload artifact
              uses: actions/upload-artifact@v4
              with:
                name: test-reports
                path: test-report.txt
                retention-days: 30